#khalid {
    overflow:hidden;
    width: 500px;
    height: 300px;
    background-color: #ccc;
    position: relative;
}
.cobra{
    width: 10px;
    height: 10px;
    background-color: #000;
    position: absolute;
}
.comida{
    width: 10px;
    height: 10px;
    background-color: #1a7068;
    position: absolute;
    border-radius: 50%;
}
#score {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
#score div{display: flex;
}
#gameover{
    position:absolute;
    top:40%;
    left:40%;
    color:red;
    font-size:30px;
    display:none;
}